<% include layout %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
 </div>



 <div class ="container">

  <div class="panel-body">



	<div class="container" 
	    data-ng-cloak
		data-ng-app="productModule" 
		data-ng-controller="productCreateController">
	
	

	<% include validationSummary %>
	 
	 <% include message %>

	<form 
		class="navbar-form navbar-left" 
		role="search"
		method = "POST"
		name= "formProduct"
		enctype="multipart/form-data" 
		action = "/api/createProduct"
	
	>

	<div class="row">
	  <div class="form-group">
		<label for="">Product  Name </label>
		&nbsp;&nbsp;
		
		<input type="text" 
		class="form-control" 
		placeholder="Please Enter Product Name" 
		name="productName" 
		id ="productName"
		ng-model="product.name"

		style="width:100%"

		required
		>
	</div>
  </div>


  <div class="row">
	  <div class="form-group">
		<label for="productCateogory">Product  Category </label>
		<br>
		
		<select  
			class="form-control" 
			name="productCateogory" 
			id ="productName"
			ng-model="product.productCategoryId"

			>
			
			<option value="">Please Select Product Category </option>
			<option 
					data-ng-repeat = "productCategory in productCategories"
					value={{productCategory.Id}}>{{productCategory.CategoryName}}
			
			</select>


		
	</div>
  </div>


  <div class="row">
	  <div class="form-group">
		<label for="">Product Cost </label>
		&nbsp;&nbsp;
		
		<input type="text" 
		class="form-control" 
		placeholder="Please Enter Product Cost" 
		name="productCost" 
		id ="productCost"
		ng-model="product.productCost"

		style="width:100%"

		required
		>
	</div>
  </div>


  <div class="row">
	  <div class="form-group">
		<label for="">Product  Selling Price</label>
		&nbsp;&nbsp;
		
		<input type="text" 
		class="form-control" 
		placeholder="Please Enter Product Selling Price" 
		name="productSellingPrice" 
		id ="productSellingPrice"
		ng-model="product.productPrice"

		style="width:100%"

		required
		>
	</div>
  </div>


 

  <div class="row">
	  <div class="form-group">
		<label for="productDetails">Product  Details</label>
		<textarea  
			class="form-control" 
			placeholder="Product   Details" 
			name="productDetails" 
			id ="productDetails"
			rows="5"
			cols="30"

			ng-model="product.description"

			style="width:100%"

			required

			></textarea>
	</div>
  </div>


  <div class="row">
	  <div class="form-group">
		<label for="thumbnail">Select File to upload</label>
		<br>
		<input 
			type="file" 
			name="thumbnail"
			class="form-control"
			data-ng-model = "product.productImage"
		
		>

	</div>
  </div>


  <div>&nbsp;</div>
  <div class="row">
	<div class="form-group" style="padding-left:40%">
		  <button type="button" class="btn btn-primary"
		  ng-click="createProduct(product)"
		  >Add Product </button>
	</div>
  </div>
 

</form>


</div>

  </div>
</div>


</div> <!-- End of Container-->


	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
	
    <script src="../../javascripts/app/product/productModule.js"></script>
    
	<script src="../../javascripts/app/requiredFieldValidationService.js"></script>
	<script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
	<script src="../../javascripts/app/product/productService.js"></script>

    <script src="../../javascripts/app/product/productCreateController.js"></script>
