<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="../public/javascripts/jquery-1.10.2.min.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryController.js"></script>


    <link href="../public/stylesheets/fileUploader.css" rel="stylesheet" />
    <script src="../public/javascripts/app/fileUpload/fileuploadController.js"></script>

</head>
<body>




    <div>
        <table>
            <tr>
                <td>Category Name</td>
                <td>Deatails</td>
                <td>IsActive Category</td>
                <td>Created Date</td>
                <td>Actions</td>
            </tr>

            <tr data-ng-repeater="productCategory in productCatories">
                <td>{{productCategory.CategoryName}}</td>
                <td>{{productCategory.Details}}</td>
                <td>{{productCategory.IsValid == "1" ? "Valid" : "Invalid"}}</td>
                <td>{{productCategory.CreatedDate}}</td>
                <td>

                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-to;ggle" data-toggle="dropdown" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>

            </tr>
        </table>

    </div>


    <div class="modal fade"
         id="ProductDetailsModalWindow"
         tabindex="-1"
         role="dialog"
         aria-labelledby="ProductDetailsModalWindow" aria-hidden="true">


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <b><h2 class="modal-title" id="exampleModalLabel">Product Details Information</h2></b>
                </div>
                <div class="modal-body">

                    <p>
                        <b>Product Category Name : </b>


                        <div>{{productDetailsView.productCategoryName}}</div>


                    </p>
                    <hr>
                    <p>
                        <b>Product  Name : </b>
                        <div>{{productDetailsView.productName}}</div>
                        <hr>
                    <p>
                        <b>Product Description : </b>

                        <div>{{productDetailsView.productDescription}}</div>

                        <hr>
                    <p>
                        <b>Product Cost : </b>

                        <div>{{productDetailsView.productPrice | currency}}</div>

                        <hr>
                    <p>
                        <b>Product Selling Price : </b>

                        <div>{{productDetailsView.productSellingPrice | currency}}</div>

                        <hr>
                    <p>
                        <b>Product Released To Market : </b>

                        <div>{{ productDetailsView.productReleaseDate | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                </div>
                <div class="modal-footer">

                </div>

                </div>
            </div>
            </div>
</body>
</html>